/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}

.container img {
    width: 100%;
}